[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-handlebars"]
	path = bundle/vim-handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "bundle/vim-brunch"]
	path = bundle/vim-brunch
	url = https://github.com/drichard/vim-brunch.git
	ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/xterm-color-table"]
	path = bundle/xterm-color-table
	url = https://github.com/guns/xterm-color-table.vim.git
	ignore = dirty
[submodule "bundle/vim-instant-markdown"]
	path = bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "bundle/tabulard"]
	path = bundle/tabulard
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-buffergator"]
	path = bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "bundle/editorconfig"]
	path = bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "bundle/vim-characterize"]
	path = bundle/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim-repeat"]
	path = vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-obsession"]
	path = bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/colors-molokai"]
	path = bundle/colors-molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "bundle/colors-monokai"]
	path = bundle/colors-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "bundle/vim-togglelist"]
	path = bundle/vim-togglelist
	url = https://github.com/milkypostman/vim-togglelist.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/colors-summerfruit256"]
	path = bundle/colors-summerfruit256
	url = https://github.com/vim-scripts/summerfruit256.vim.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "bundle/splitjoin"]
	path = bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule "bundle/vsearch"]
	path = bundle/vsearch
	url = https://github.com/BenBergman/vsearch.vim.git
[submodule "bundle/vim-node"]
	path = bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "bundle/pony"]
	path = bundle/pony
	url = https://github.com/jmcomets/vim-pony.git
[submodule "bundle/NrrwRgn"]
	path = bundle/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn.git
[submodule "bundle/vim-reddit"]
	path = bundle/vim-reddit
	url = https://github.com/joshhartigan/vim-reddit.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule "bundle/vim-localvimrc"]
	path = bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "bundle/dash.vim"]
	path = bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-rbenv"]
	path = bundle/vim-rbenv
	url = git://github.com/tpope/vim-rbenv.git
[submodule "bundle/elm.vim"]
	path = bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-styled-components"]
	path = bundle/vim-styled-components
	url = https://github.com/fleischie/vim-styled-components.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
