[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-handlebars"]
	path = bundle/vim-handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/vim-brunch"]
	path = bundle/vim-brunch
	url = git://github.com/drichard/vim-brunch.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = http://github.com/majutsushi/tagbar
