// @flow
import PropTypes from 'prop-types';
import * as React from 'react';

import styles from './$1.scss';

/*::
type $1Props = {
  $2: ${4:$3},
}
*/

export function ${1:ComponentName}(
  {
    $2,
  } /*: $1Props */,
) {
  return (
    ${5:<div>Stuff</div>}
  );
}

$1.propTypes = {
  ${2:a$1Prop}: PropTypes.${3:$2Type},
};

export default $1;
